<md-input-container class="md-block" style="margin-top:3%">
    <label>Appreciation Description</label>
    <textarea ng-model="activity.appreciation" md-maxlength="150" rows="3" md-select-on-focus style="resize:none !important;"></textarea>
</md-input-container>
<br/>
<center>
    <md-checkbox ng-model="activity.appreciationna" aria-label="Not Applicable"> NOT APPLICABLE </md-checkbox>
</center>
<br/>
<md-input-container class="md-block" style="">
    <label>Risk-Issue-Challenges</label>
    <textarea ng-model="activity.issue" md-maxlength="150" rows="3" md-select-on-focus style="resize:none !important;"></textarea>
</md-input-container>
<br/>
<center>
    <md-checkbox ng-model="activity.issuena" aria-label="Not Applicable"> NOT APPLICABLE </md-checkbox>
</center>