<div layout-gt-sm="row" style="margin-top:0%">
    <md-input-container>
        <label>Week</label>
        <md-datepicker ng-model="activity.weekDay" md-date-filter="onlyMondayPredicate"></md-datepicker>
    </md-input-container>
</div>
<md-input-container class="md-block" style="margin-left:2%">
    <label>Highlights</label>
    <textarea ng-model="activity.highlight" md-maxlength="150" rows="5" md-select-on-focus style="resize:none !important;"></textarea>
</md-input-container>
<br/>
<center>
    <md-checkbox ng-model="activity.highlightna" aria-label="Not Applicable"> NOT APPLICABLE </md-checkbox>
</center>