<div layout-gt-sm="row" id="DRBlock" style="margin-top:1%">
    <md-input-container style="">
        <label>Last Release Date</label>
        <md-datepicker ng-model="activity.rcLastReleaseDate"></md-datepicker>
    </md-input-container>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <md-input-container>
        <label>Upcoming Release Date</label>
        <md-datepicker ng-model="activity.rcUpcomingReleaseDate"></md-datepicker>
    </md-input-container>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <md-input-container>
        <label>DR Completion Date</label>
        <md-datepicker ng-model="activity.rcCompletionDate"></md-datepicker>
    </md-input-container>

    <md-input-container>
        <label>Upcoming DR Planned Date</label>
        <md-datepicker ng-model="activity.rcPlannedDate"></md-datepicker>
    </md-input-container>
</div>
